/* style section 1 */
.section1{
    padding: 80px 100px;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.maintitle{
    font-size: 5em;
    margin-bottom: 40px;
}
.content1{
    margin: 20px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1150px;
}
.profilimg{
    position: relative;
    width: 2000px;
    height: 500px;
    overflow: hidden;
    left: 10px;
}
.profilimg img{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.textpro{
    font-size: 30px;
    z-index: 2;
    background: #91383880;
    backdrop-filter: blur(20px);
    padding: 40px;
    width: 400px;
    color: white;
    border: 1px solid #913838;
    border-radius: 15px;
    transform: translate(-60px,100px);
}
.social{
    margin: 100px;
}
.social a{
    margin: 60px;
}
.imgwhatapp:hover,
.imggithub:hover,
.imginsta:hover{
    transform: translateY(-10px);
    scale: 1.1;
}
/* media query section 1 */
@media screen and (max-width: 450px){
    .section1{
        padding: 0;
    }
    .maintitle{
        margin-top: 25px;
        display: flex;
        justify-content: center;
        font-size: 2em;
    }
    .content1{
        width: 390px;
    }
    .profilimg{
        left: 100px;
        width: 600px;
        height: 300px;
    }
    .textpro{
        color: white;
        font-size: 20px;
        padding: 0 15px;

    }
    .social a{
        margin: 10px;
    }
}
@media screen and (max-width: 1400px) and (min-width:450px){
    .section1{
        padding: 0;
    }
    .maintitle{
        display: flex;
        justify-content: center;
        font-size: 3em;
    }
    .content1{
        flex-direction: column;
        width: 400px;
    }
    .profilimg{
        left: 100px;
        transform: translateX(-60px) !important;
        width: 600px;
        height: 300px;
        left: 0;
    }
    .textpro {
        -webkit-transform: none !important;
        transform: translateX(60px) !important;
        padding: 0 15px;
        font-size: 30px;
        margin-top: 50px;
        background: #913838;
        width: 600px;

    }
    .social a{
        margin: 10px;
    }
}
/* animation section 1 */
.profilimg{
    transform: translateX(-500px);
    transition: all 2s ease;
    opacity: 0;
}
.textpro{
    transform: translateY(200px);
    transition: all 3s ease;
    opacity: 0;
}
.imginsta{
    transform: translateY(150px);
    transition: all 1s ease;
    opacity: 0;
}
.imggithub{
    transform: translateY(150px);
    transition: all 2s ease;
    opacity: 0;
}
.imgwhatapp{
    transform: translateY(150px);
    transition: all 3s ease;
    opacity: 0;
}
.visible{
    transform: translateX(0);
    opacity: 1;
}
.visible1{
    transform: translate(-100px,150px);
    opacity: 1;
}
